<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAddForm</title>
</head>
<body>
    <form method="post">
        <label>X</label>    <input type="text" name="x" /><br />
        <label>Y</label>    <input type="text" name="y" /><br />
        <button type="submit" formaction="/utility/add">add</button>
        <button type="submit" formaction="/utility/subtract">subtract</button>
    </form>
</body>
</html>
